# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\GeekBrains\nio-echo-server\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
